# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Secrets
.env
*.pem

# OS / editor
.DS_Store
.idea/
.vscode/

# Logs
*.log

# Local database
*.db
*.db-wal
*.db-shm

dist/
